# Please install the requirments.txt in basic_demo first!

ipykernel>=6.26.0
ipython>=8.18.1
jupyter_client>=8.6.0
langchain>=0.2.12
langchain-community>=0.2.11
matplotlib>=3.9.1
pymupdf>=1.24.9
python-docx>=1.1.2
python-pptx>=0.6.23
pyyaml>=6.0.1
requests>=2.31.0
streamlit>=1.37.1
zhipuai>=2.1.4