# Please install the requirments.txt in basic_demo first!

ipykernel>=6.26.0
ipython>=8.18.1
jupyter_client>=8.6.0
langchain>=0.2.10
langchain-community>=0.2.9
matplotlib>=3.9.0
pymupdf>=1.24.5
python-docx>=1.1.2
python-pptx>=0.6.23
pyyaml>=6.0.1
requests>=2.31.0
streamlit>=1.36.0
zhipuai>=2.1.3